<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/assets/dist/style.css">
</head>
<body>
    <div class='container'>
        <header>
            <a href='/'><img src='/assets/img/logo.jpg' alt="{{site.name}}"></a>
            <nav>
                <ul>
                    <li><a href="/blog" title="Contact">Blog <small>wise words</small></a></li>
                    <li><a href="mailto:andrew@ellenay.co.uk" title="Contact">Contact <small>get in touch</small></a></li>
                </ul>
            </nav>
        </header>

        {{ content }}

        <!--
        <footer>
            <p>
                Ellenay<br />
                studio@ellenay.co.uk
            </p>
        </footer>
        -->

    </div>
</body>
</html>
